
@{
    ViewData["Title"] = "GetPersonById";
}

@model SWAPI.Models.ViewModels.GetPersonByIdViewModel


    <div class="container">
        <h1>Name: @Model.name</h1>
        <h1>Birth Year: @Model.birth_year</h1>
        <h1>Gender: @Model.gender</h1>
    


    </div>

